@import "tailwindcss";

:root {
  --background: #FFF8F3;
  --foreground: #171717;
  --primary: #f54e08;
  --secondary: #2C3E5B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-uncut-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-uncut-sans), Arial, Helvetica, sans-serif;
}
